*:before,
*:after {
  box-sizing: inherit;
}


// .progressbar {
//   height: 2em;
//   width: 85%;
//   // margin-top: 1.5em;
//   background-color: #fff;
//   border-radius: 25px;
//   border: 10px solid $text_color;
//   margin-left: 10%;
// }

// .numerotation {
//   display: flex;
//   justify-content: space-between;

//   p {
//     font-size: 2em;
//     font-weight: 700;
//     color: $text_color;
//   }
// }

// .relative {
//   position: relative;
//   width: 100%;
// }

// #file {
//   // margin-top: 1.5em;
//   width: 83.1%;
//   margin-left: 10%;
//   position: absolute;
//   top: 8px;
//   right: 5.9%;

// }
// section-I::::::::::::::::::::::::::::::::::::::::
menu{
  text-align: center;
    margin-bottom: 1%;
    padding-top: 1em;
  .hide{
   display: none;
  }
  .sect-top{
    text-align: center;
    margin-bottom: 3%;
    padding-top: 1em;
    
  }
  .top-bar{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 1% auto;
  }
  .imgbar{
    border: 10px solid #1078ad;
    border-radius: 50%;
    width: 2em;
    height: 2em;
  }
  .Info-bar{
    color: $color_titre;
    font-weight: 700;
  }
  .sect-pre{
    width: 60%;
    margin: 2% auto;
    background-color: $color_nav;
    padding: 3% 2% 4%;
    border-radius: 8px;
    h3{
      color:$color_titre;
      font-weight: 700;
      font-size: $font-main;
    }
    p{
      margin: 2% 0;
    }
    .line{
      width: 18rem;
      height: 2px;
      // color: yellow;
      background: $color_yellow;
      margin: 0 auto;
    }
  }
  #demarer{
      width: 177px;
      border: none;
      margin: 0;
      text-align: center;
      background: $color_titre;
      color: $color_white;
      font-family: 'PT Sans', sans-serif;
      font-size: $font-main;
      padding: 5px 83px;
      border-radius: 8px;
      .btn:hover {
        background-color: $color_black;
      }
  }
  // section-II::::::::::::::::::::::::::::::::::::::::
.sect-question{
   #form{
    padding: 0em 4em;
    max-width: 65%;
    margin: 1em auto;
    .progress-bar{
      display: flex;
      justify-content: space-between;
      .position{
        position: relative;
        width: 100%;
        right: 10px;
        .progressbar{
          height: 2em;
          width: 85%;
          margin-top: 1.5em;
          background-color: #fff;
          border: 8px solid $color_titre;
          margin-left: 10%;
        }
            #progress-max{
               margin-top: 1.5em;
               width: 83.1%;
               margin-left: 10%;
               position: absolute;
               top: 8px;
               right: 5.9%;
            }
      }
      #Numprogress{
        font-size: 2em;
        font-weight: 700;
        color: $color_titre;
      }
    }
    }
    .question-affiche{
      p{
        font-weight: 700;
        font-size: 1.5em;
        color: #7f7f7f;
        height: 15vh;
        padding-top: 5%;
    }
    .les-inputs{
      text-align: initial;
    }
    .inpt{
      padding: 20px;
      input{
        height: 34px;
        width: 34px;
      }
      span{
        font-size: $font-main;
        color: $color_texte;
      }
    }
    }

    .button{
      display: flex;
      justify-content: space-between;
      #precedent,
      #suivant,
      #resultat{
        width: 165px;
        border: none;
        margin: 33px 8px;
        text-align: center;
        background: $color_titre;
        color: white;
        font-family: 'PT Sans', sans-serif;
        font-size: 20px;
        padding: 5px 3px;
        border-radius: 8px;
      }

    }
  }
  // section-III::::::::::::::::::::::::::::::::::::::::
  .sect-resultat{
    .affiche-resultat{
      max-width: 65%;
      margin: 2em auto;
      padding: 2em 3em;
      background-color: #96c5dc;
      border-radius: 10px;
      h3{
        color:$color_titre;
        font-weight: 700px;
        font-size: $font-main;
      }
      .line{
        width: 41rem;
        height: 2px;
        background: yellow;
        margin: 0 auto;
      }
    }
    #RecommenceTest{
    width: 229px;
    border: none;
    margin: 13px 8px;
    text-align: center;
    background: $color_titre;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    padding: 5px 23px;
    border-radius: 8px;
    }
  }
}


// // /////////////////javascript////////////////
// .heading{
//   display: none;
// }

// form {
//   // border: 3px solid $bg_test;
//   // border-radius: 1em;
//   padding: 2em 4em;
//   max-width: 65%;
//   margin: 3em auto;
// }

// .barNumber {
//   border: 3px solid $bg_test;
//   border-radius: 1em;
//   margin-bottom: 1em;
// }

// .questions {
//   p{
//   font-weight: 700;
//   font-size: 1.5em;
//   color: #7F7F7F;
//   height: 15vh;
//   padding-top: 5%;
//   padding-bottom: 105px;
//   }
// }




// .reponces {
//   height: 24vh;
//   display: flex;
//   padding-top: 5%;
//   justify-content: space-evenly;
//   flex-wrap: wrap;

//   label {
//     margin-left: 0.4em;
//     font-size: 2em;
//   }

//   .inputText {
//     margin-left: 20%;
//   }

//   div {
//     width: 45%;
//   }
// }

// #RecommenceTest {
//   border: none;
//            margin-bottom: 26px;
//            text-align: center;
//            background: $color_titre;
//            color: $color_white;
//            font-family: 'PT Sans', sans-serif;
//            font-size: $font-main;
//            padding: 5px 65px;
//            border-radius: 8px;
//            a:hover {
//              background-color: $color_black;
//            }
// }

// .inputs {
//   display: flex;
//   justify-content: space-between;

//   #precedent,
//   #suivant,
//   #resultat {
//     border: none;
//     margin: 12px;
//     text-align: center;
//     background: #1087c7;
//     color: white;
//     font-family: 'PT Sans', sans-serif;
//     font-size: 22px;
//     padding: 5px 15px;
//     border-radius: 8px;
//   }

// }

.answer-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}

.answer-inputs input[type="number"] {
  font-size: 16px;
  border: 1px solid #1078AD;
  width: 55%;
  padding: 10px;
}

.answer-inputs .input-span {
  font-size: 22px;
  border: 1px solid #1078AD;
  border-left: none;
  padding: 4px 10px 5px;
  color: #555555;
  background-color: #edf6fa;
}

.answer-inputs input[type="radio"] {
  -webkit-appearance: none;
}

.answer-inputs input[type="radio"]:checked+label {
  background-color: #1078AD;
  color: #F4CF1B;
}

.answer-inputs label {
  height: 80px;
  width: 120px;
  color: #1078AD;
  border-radius: 4px;
  border: 4px solid #1078AD;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 9px 0px 0;
  transition: .5s ease;
  margin-right: 50px;
}

.answer-inputs label span {
  font-size: 22px;
  position: relative;
  bottom: 5px;
}

input:disabled {
  cursor: not-allowed;
}